@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
p {
  line-height: 1.6;
}
body {
  background-color: #b0dfe5;
}
